*{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}
.main{
    width: 100%;
    height: 1000px;
    background-color: #69bdb7;
}
img{
    width: 250px;
    height: 250px;
}
.text-main{
    position: relative ;
    text-align: center;
    top: 25%;
    color: #000;
}
 /* rem - устанавливает относительно контента(4rem-4раза больше) */
.main h1{
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main p{
    margin-top: 30px;
    font-size: 1.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main-subtitle{
    font-size: 20px;
    color: #000;
    margin-top: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li{
    font-size: 18px;
}
.page {
     margin-top: 20px;
}

.button {
    background: transparent;
    border: 1px solid #000;

    font-family: 'Montserrat', sans-serif;

    color: #000;
    font-weight: 900;

    text-transform: uppercase;

    padding: 1rem 3rem;
    margin: 0 auto;
}

.button:hover {
    background: #000;
    color: #fff;
}